{{/* layouts/shortcodes/tally.html */}}
<iframe data-tally-src="{{ .Get "src" }}"
        loading="lazy"
        width="100%"
        height="{{ .Get "height" | default "276" }}"
        frameborder="0"
        marginheight="0"
        marginwidth="0"
        title="{{ .Get "title" | default "" }}">
</iframe>
<script>
  var d = document,
      w = "https://tally.so/widgets/embed.js",
      v = function() {
        if (typeof Tally !== "undefined") {
          Tally.loadEmbeds()
        } else {
          d.querySelectorAll("iframe[data-tally-src]:not([src])")
           .forEach(function(e){ e.src = e.dataset.tallySrc })
        }
      };
  if (typeof Tally !== "undefined") {
    v()
  } else if (d.querySelector('script[src="'+w+'"]') == null) {
    var s = d.createElement("script");
    s.src = w; s.onload = v; s.onerror = v;
    d.body.appendChild(s);
  }
</script>
