
{{/* 1 · Grenzdatum berechnen -5 Tage zurück ab Build‑Zeit */}}
{{ $cutoff := now.AddDate 0 0 -50 }}         {{/* AddDate (Y,M,D) */}}
{{ warnf "cutoff = %v" $cutoff }}

{{/* cutoff als String im gleichen Format wie event_date */}}
{{ $cutoffStr := dateFormat "2006-01-02" $cutoff }}

{{ $events := where .Site.RegularPages "Params.event_date" "ge" $cutoffStr }}

<!-- post list -->
<div data-pagefind-ignore="all">
{{ range sort $events "Params.event_date" }}

<!-- DEBUG: {{ .Date }} / {{ .Title }} -->
<div class="post-preview">
    <a href="{{ .Permalink }}">
        <h2 class="post-title">
            {{ .Title }}
        </h2>
	{{with .Params.subtitle }}
        <h3 class="post-subtitle">
            {{ . }}
        </h3>
	{{ end }}
        <div class="post-content-preview">
	{{ with .Description }}
            {{ . }}
        {{ else }}
            {{- $image := resources.Get .Params.featured_image -}}
            <div>
            {{ .Summary}} ...
            </div>
       {{ end }}
        </div>
    </a>
    <p class="post-meta">
    {{ if .Params.metadata }}
        {{ range $index, $element := .Params.metadata }}
            {{ if .link }}
                <a href="{{ .link }}">{{ .text }}</a>
            {{ else }}
                {{ .text }}
            {{ end }}
        {{ end }}
    {{ else }}
        {{ with .Params.author }}{{ . }}{{ else }}{{ .Site.Title }}{{ end }}
		<!--, {{ .Date.Format "02.01.2006" }} -->
        <!-- Don't show "Last Modified on" if update happened on the same day. -->
        {{ if (and (not .Lastmod.IsZero) (not (eq (dateFormat "2006-01-02" .Lastmod) (dateFormat "2006-01-02" .Date)))) }}
            <br>Zuletzt geändert am {{ dateFormat "02.01.2006" .Params.LastMod }}
        {{ end }}
    {{ end }}
    </p>

</div>
<hr>
{{ end }}
</div>


{{/* Navigations‑Links zwischen den Pagern (optional) */}}
{{/* template "_internal/pagination.html" . */}}
