<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
{{ partial "head.html" . }}
{{ partial "nav.html" . }}
<!-- Page Header -->
{{ block "header" .}}
<header class="intro-header" style="background-image: url('{{ with .Params.header_image }}{{ . | relURL }}{{ else }}{{ .Site.Params.header_image | relURL }}{{ end }}')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 ">
                <div class="site-heading">
					{{ with .Params.title }}
					  <h1>{{ . }}</h1>
					{{ else }}
					  <h1>{{ .Site.Params.title }}</h1>
					{{ end }}
					<h1>{{ .Title }}</h1>
					<!-- Falls gesetzt: .Params.subtitle, sonst Fallback auf Site‑Param -->
					{{ with .Params.subtitle }}
					  <span class="subheading"><h2>{{ . }}</h2></span>
					{{ else }}
					  <span class="subheading">{{ .Site.Params.subtitle }}</span>
					{{ end }}                    <!--<hr class="small">-->
		    	<!-- <span class="subheading">{{ .Site.Params.slogan }}</span> -->
                </div>
            </div>
        </div>
    </div>
</header>
{{ end }}

{{ block "main" . }}
{{ end }}

{{ partial "footer.html" . }}
</body>
</html>
